*{
    margin: 0;
    padding: 0;
    font-family: 'Work sans','Courier New', Courier, monospace;
    font-weight: 600;
  }
body{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)) ,url(images/left1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: linear-gradient();
}
  
header {
    background: #63e7bb;
    border: 2px solid #63e7bb;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    font-family: sans-serif;
    /* position: sticky; */
}
  
header::after {
    content: '';
    display: table;
    clear: both;
}
#sgn{
    vertical-align: middle;
  }  
  .logo {
    float: left;
    padding: 7px 0;
    cursor: pointer;
    padding-left: 45px;
}
nav {
    float: right;
}
  
nav li {
    display: inline-block;
    margin-left: 40px;
    padding-top: 5px;
  
    position: relative;
}
  
nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
  
nav a:hover {
    color: #1C6DD0;
}
  
nav a::after{
    content: '';
    display: block;
    height: 1.5px;
    background-color: blanchedalmond;
    width: 100%;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 350ms ease;
}
  
nav a:hover::after{
    width: 100%;
    transform: scaleX(1);
    height: 1.5px;
    background-color: #30475E;
    transform-origin: left;
}
.container {
	width: 90%;
	margin: 0 auto;
  
}
#slo{
    padding-top: 2em;
    color: white;
    font-family: 'Work sans','Courier New', Courier, monospace;
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    text-transform: capitalize;
    position: relative;
    margin-bottom: 50px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  }
.flex-container{
    /* display: flex;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    justify-content: space-evenly;
    position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}
.flex-container div{
    width: fit-content;
    height: fit-content;
    border-radius: 4px;
}
#option-1,#option-2,#option-3,#option-4{
    background-color: #cedefd;
    margin: 30px;
    text-align: center;
    padding: 10px;
}
article{
    box-sizing: border-box;
    background-color: #cedefdde;
    padding: 5px;
}
.option:hover{
    box-shadow:-0.5px -0.5px 20px 2px rgb(85, 83, 83)
}
#help{
    position: fixed;
    right: 30px;
    bottom: 30px;
}
#contact-1,#contact-2,#contact-3{
    background-color: #cedefd;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
}
.contact:hover{
    box-shadow:-0.5px -0.5px 20px 2px rgb(85, 83, 83)
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: */
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
}
.socials a p{
  font-size: 18px;
}
.socials a:hover p{
  color: aqua;
}